*{
  margin: 0px;
  padding: 0px;
 
}

body{
  font-family: 'century gothic';
}

.tabel{
  
 
}

.tabel a{
 color:rgb(0, 0, 0);
 
}

.menu{
  text-decoration: none;
}

.slider{
  height:500px;
}




.line {
  background-color: black;
  width: 200px;
  height:2px;
 
}

.line2 {
  background-color: black;
  width: 300px;
  height:2px;
}

