*{
  margin: 0px;
  padding: 0px;
 
}

body{
  font-family: 'century gothic';
  
}

/* tabel nav */
.tabelnav{
  background-color: rgb(4, 80, 17);
 
}

.tabelnav a{
  color:aliceblue;
 
}

.menu{
  text-decoration: none;
}

/* header */
.header{
  height:450px;

}
.header img{
  max-width: 100%;
  height: 100%;
    
  
  
}

/* content */
.content img{
  width: 440px;
  height: 300px;

}

.line {
  background-color: black;
  width: 200px;
  height:2px;
 
}



/* sidebar */

.sidebar{
  background-color:rgb(0, 63, 37);
  color: aliceblue;
}

.line2 {
  background-color: rgb(255, 255, 255);
  width: 300px;
  height:2px;
}

/* footer */
.footer{
  background-color:rgb(0, 63, 37);
  color: aliceblue;
}

.footer a{
  color: rgb(21, 255, 185);
}

